= form_for @student do |f|
  -if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg
  .fieldset
    .legend
    .clearfix
      = f.label :first_name
      .input
        = f.text_field :first_name
    .clearfix
      = f.label :last_name
      .input
        = f.text_field :last_name
    .clearfix
      = f.label :id_number
      .input
        = f.text_field :id_number
    .clearfix
      = f.label :gender
      .input
        = select(:student, :gender, options_for_select([['',''],['M', 'M'],['F', 'F']]))
    .clearfix
      = f.label :dob
      .input
        = f.date_select :dob,
          :start_year => Time.now.year - 25,
          :end_year => Time.now.year - 10, :include_blank  => 'true'
    .clearfix
      = f.label :race_id
      .input
        = select(:student, :race_id, Race.all.collect {|p| [p.name,p.id]})
    .clearfix
      = f.label :street_number
      .input
        = f.text_field :street_number
    .clearfix
      = f.label :street_name
      .input
        = f.text_field :street_name
    .clearfix
      = f.label :address_2
      .input
        = f.text_field :address_2
    .clearfix
      = f.label :city
      .input
        = f.text_field :city
    .clearfix
      = f.label :zip_code
      .input
        = f.text_field :zip_code
    .clearfix
      = f.label :phone
      .input
        = f.text_field :phone
    .clearfix
      = f.label :cell_phone
      .input
        = f.text_field :cell_phone
    .clearfix
      = f.label :alt_name
      .input
        = f.text_field :alt_name
    .clearfix
      = f.label :school_id
      .input
        = select("student", "school_id", School.all.collect {|p| [p.name, p.id]}, {:include_blank => true})
    .clearfix
      = f.label :updated_school_id
      .input
        = select("student", "updated_school_id", School.all.collect {|p| [p.name,p.id]}, {:include_blank => true})
    .clearfix
      = f.label :grade
      .input
        = select(:student,:grade, options_for_select([['7','7'],['8','8'],['9','9'],['10','10'],['11','11'],['12','12']]),
          {:include_blank => true})
    .clearfix
      = f.label :vehicle
      .input
        = f.text_field :vehicle
    .clearfix
      = f.label :associates
      .input
        = f.text_field :associates
    .clearfix
      = f.label :crimes
      .input
        = f.text_field :crimes
    .clearfix
      = f.label :urn
      .input
        = f.text_field :urn
    .clearfix
      = f.label :probation
      .input
        = f.check_box :probation
    .clearfix
      = f.label :probation_status
      .input
        = f.text_field :probation_status
    .clearfix
      = f.label :gang
      .input
        = f.text_field :gang
    .clearfix
      = f.label :moniker
      .input
        = f.text_field :moniker
    .clearfix
      = f.label :drug_id
      .input
        = select("student", "drug_id", Drug.all.collect {|p| [p.name, p.id]}, {:include_blank => true})
    .clearfix
      = f.label :programs
      .input
        = f.text_area :programs, {:rows => "4",:class => "xxlarge"}
    .clearfix
      = f.label :notes
      .input
        = f.text_area :notes, {:rows => "4", :class => "xxlarge"}
    .clearfix
      = f.label :risk_factor_id
      .input
        = select(:student, :risk_factor_id, RiskFactor.all.collect {|p| [p.status,p.id]}, {:include_blank => true})
    .clearfix
      = f.label :school_deputy_id
      .input
        = collection_select(:student,:school_deputy_id,User.where(:school_deputy => true), :id, :name, :prompt => true)
    .actions
      = f.submit 'Save', {:class => "btn primary"}
