%h1  Students

= form_for @search do |f|
  .well
    .row
      .span6
        .clearfix
          = f.label :first_name_contains, 'First name'
          .input
            = f.text_field :first_name_contains
        .clearfix
          = f.label :last_name_contains, 'Last name'
          .input
            = f.text_field :last_name_contains
        .clearfix
          = f.label :gang, 'Gang'
          .input
            = f.text_field :gang_contains
      .span6
        .clearfix
          = f.label :moniker,'Moniker'
          .input
            = f.text_field :moniker_contains
        .clearfix
          = f.label :school_id, 'School'
          .input
            = f.collection_select :school_name_contains, School.all, :name, :name, :include_blank => true
        .clearfix
          = f.label :risk_factor_id, 'Risk Factor'
          .input
            = f.collection_select :risk_factor_status_contains, RiskFactor.all, :status, :status, :include_blank => true
    = submit_tag 'Search',:name => nil, :class => "btn primary"

%table#studentsTable.zebra-striped
  %thead
    %tr
      %th First name
      %th Last name
      %th School
      %th Updated school
      %th Grade
      %th
      %th
      %th
  %tbody
    - @students.each do |student|
      %tr
        %td= student.first_name
        %td= student.last_name
        %td= student.school.name unless student.school.nil?
        %td= student.updated_school.name unless student.updated_school.nil?
        %td= student.grade
        %td= link_to 'Show', student
        %td= link_to 'Edit', edit_student_path(student)
        %td= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete

= will_paginate @students
%br

= link_to 'New Student', new_student_path, :class => 'btn primary'
