%h1  Students

=form_tag students_path, :method => 'get' do
  .well
    .row
      .span6
        .clearfix
          = label_tag(:first_name, 'First name')
          .input
            = text_field_tag :first_name, params[:first_name]
        .clearfix
          = label_tag(:last_name, 'Last name')
          .input
            = text_field_tag :last_name, params[:last_name]
        .clearfix
          = label_tag(:gang, 'Gang')
          .input
            = text_field_tag :gang, params[:gang]
      .span6
        .clearfix
          = label_tag(:moniker,'Moniker')
          .input
            = text_field_tag :moniker, params[:moniker]
        .clearfix
          = label_tag(:school_id, 'School')
          .input
            = collection_select :student,:school_id, School.all, :id, :name, :include_blank => true
        .clearfix
          = label_tag(:risk_factor_id, 'Risk Factor')
          .input
            = collection_select :risk_factor, :risk_factor_id, RiskFactor.all, :id, :status, :include_blank => true

  = submit_tag 'Search',:name => nil, :class => "btn primary"

%table
  %tr
    %th First name
    %th Last name
    %th School
    %th Updated school
    %th Grade
    %th
    %th
    %th

  - @students.each do |student|
    %tr
      %td= student.first_name
      %td= student.last_name
      %td= student.school.name unless student.school.nil?
      %td= student.updated_school.name unless student.updated_school.nil?
      %td= student.grade
      %td= link_to 'Show', student
      %td= link_to 'Edit', edit_student_path(student)
      %td= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Student', new_student_path
