= form_for @crime_tip, :html => { :multipart => true } do |f|
  - if @crime_tip.errors.any?
    %div{:class => "alert-message block-message error"}
      %a.close{:href => "#"} &times;
      %p
        %strong
          = "#{pluralize(@crime_tip.errors.count, "error")} prohibited this student from being saved:"
        %ul
          - @crime_tip.errors.full_messages.each do |msg|
            %li= msg

  .fieldset
    .legend
    .clearfix
      = f.label :date_rec
      .input
        = f.text_field :date_rec
    .clearfix
      = f.label :date_due
      .input
        = f.text_field :date_due
    .clearfix
      = f.label :crime_id
      .input
        = select(:crime_tip, :crime_id, Crime.all.collect {|p| [p.name, p.id]}, {:include_blank => true})
    .clearfix
      = f.label :street_number
      .input
        = f.text_field :street_number
    .clearfix
      = f.label :street_name
      .input
        = f.text_field :street_name
    .clearfix
      = f.label :cross_street
      .input
        = f.text_field :cross_street
    .clearfix
      = f.label :city
      .input
        = f.text_field :city
    .clearfix
      = f.label :zone
      .input
        = select(:crime_tip, :zone_id, Zone.all.collect {|p| [p.name, p.id]}, {:include_blank => true})
    .clearfix
      = f.label :informant_name
      .input
        = f.text_field :informant_name
    .clearfix
      = f.label :informant_phone
      .input
        = f.text_field :informant_phone
    .clearfix
      = f.label :informant_email
      .input
        = f.text_field :informant_email
    .clearfix
      = f.label :suspect_first_name
      .input
        = f.text_field :suspect_first_name
    .clearfix
      = f.label :suspect_last_name
      .input
        = f.text_field :suspect_last_name
    .clearfix
      = f.label :suspect_dob
      .input
        = f.date_select :suspect_dob,
          :start_year => Time.now.year - 75,
          :end_year => Time.now.year,
          :include_blank  => 'true'
    .clearfix
      = f.label :suspect_age
      .input
        = f.text_field :suspect_age
    .clearfix
      = f.label :suspect_race_id
      .input
        = select(:crime_tip, :suspect_race_id, Race.all.collect {|p| [p.name,p.id]})
    .clearfix
      = f.label :suspect_gender
      .input
        = select(:crime_tip, :suspect_gender, options_for_select([['',''],['M', 'M'],['F', 'F']]))
    .clearfix
      = f.label :suspect_street_number
      .input
        = f.text_field :suspect_street_number
    .clearfix
      = f.label :suspect_street_name
      .input
        = f.text_field :suspect_street_name
    .clearfix
      = f.label :suspect_city
      .input
        = f.text_field :suspect_city
    .clearfix
      = f.label :suspect_school_id
      .input
        = select(:crime_tip, :suspect_school_id, School.all.collect {|p| [p.name, p.id]}, {:include_blank => true})
    .clearfix
      = f.label :suspect_phone
      .input
        = f.text_field :suspect_phone
    .clearfix
      = f.label :suspect_cell
      .input
        = f.text_field :suspect_cell
    .clearfix
      = f.label :suspect_2
      .input
        = f.text_field :suspect_2
    .clearfix
      = f.label :suspect_3
      .input
        = f.text_field :suspect_3
    .clearfix
      = f.label :gang
      .input
        = f.text_field :gang
    .clearfix
      = f.label :vehicle
      .input
        = f.text_field :vehicle
    .clearfix
      = f.label :license_plate
      .input
        = f.text_field :license_plate
    .clearfix
      = f.label :drug_id
      .input
        = select(:crime_tip, :drug_id, Drug.all.collect {|p| [p.name, p.id]}, {:include_blank => true})
    .clearfix
      = f.label :assign_id
      .input
        = select(:crime_tip, :assign_id, Assign.all.collect {|p| [p.team, p.id]}, {:include_blank => true})
    .clearfix
      = f.label :date_assigned
      .input
        = f.text_field :date_assigned
    .clearfix
      = f.label :date_completed
      .input
        = f.text_field :date_completed
    .clearfix
      = f.label :charges
      .input
        = f.autocomplete_field :charge_list, autocomplete_charge_name_crime_tips_path, :"data-delimiter" => ', '
    .clearfix
      = f.label :urn
      .input
        = f.text_field :urn
    .clearfix
      = f.label :clearance
      .input
        = f.text_area :clearance, {:rows => "5", :class => "xxlarge"}
    .clearfix
      = f.label :side_notes
      .input
        = f.text_area :side_notes, {:rows => "5", :class => "xxlarge"}
    .clearfix
      = f.label :search_warrant
      .input
        = f.check_box :search_warrant
    .clearfix
      = f.label :probation_search
      .input
        = f.check_box :probation_search
    .clearfix
      = f.label :parole_search
      .input
        = f.check_box :parole_search
    .clearfix
      = f.label :arrested
      .input
        = f.check_box :arrested
    .clearfix
      = f.label :status
      .input
        = select(:crime_tip, :status, options_for_select([['Open', 'Open'],['Closed', 'Closed']]))
    .clearfix
      = f.fields_for :tip_files do |file_fields|
        &nbsp;
        - if file_fields.object.new_record?
          .input
            = file_fields.file_field :tip
    .clearfix
      = f.fields_for :tip_files do |file_fields|
        - unless file_fields.object.new_record?
          .input
            = link_to file_fields.object.tip_file_name, file_fields.object.tip.url(:original)
            &nbsp;
            = file_fields.check_box :_destroy
            Remove
    .actions
      = f.submit 'Save', {:class => "btn primary"}
