%h1 Listing Crime Tips

= form_for @search do |f|
  .well
    .row
      .span6
        .clearfix
          = f.label :tip_number_contains, 'Tip Number'
          .input
            = f.text_field :tip_number_contains
        .clearfix
          = f.label :crime_name_contains, 'Crime Type'
          .input
            = f.collection_select :crime_name_contains, Crime.all, :name, :name, :include_blank => true
        .clearfix
          = f.label :date_rec, 'Received'
      .span6
        .clearfix
          = f.label :street_number_contains,'Street Number'
          .input
            = f.text_field :street_number_contains
        .clearfix
          = f.label :street_name_contains, 'Street Name'
          .input
            = f.text_field :street_name_contains
    = submit_tag 'Search',:name => nil, :class => "btn primary"


%table#crime_tip_table.zebra-striped
  %thead
    %tr
      %th Tip Number
      %th Date Received
      %th Crime
      %th Location
      %th Cross street
      %th Suspect Name
      %th Assigned
      %th
      %th
      %th

  - @crime_tips.each do |crime_tip|
    %tr
      %td= crime_tip.tip_number
      %td= crime_tip.date_rec.strftime("%m/%d/%Y") unless crime_tip.date_rec.nil?
      %td= crime_tip.crime.name unless crime_tip.crime.nil?
      %td= crime_tip.street_number + ' '+  crime_tip.street_name
      %td= crime_tip.cross_street
      %td= crime_tip.suspect_first_name + ' ' + crime_tip.suspect_last_name
      %td= crime_tip.assign.team unless crime_tip.assign.nil?
      %td= link_to 'Show', crime_tip
      %td= link_to 'Edit', edit_crime_tip_path(crime_tip)
      %td= link_to 'Destroy', crime_tip, :confirm => 'Are you sure?', :method => :delete

= will_paginate @crime_tips
%br

= link_to 'New Crime tip', new_crime_tip_path
