%h1 Crime Tips

= form_for @search do |f|
  .well
    .row
      .span7
        .clearfix
          = f.label :tip_number_contains, 'Tip Number'
          .input
            = f.text_field :tip_number_contains
        .clearfix
          = f.label :crime_name_contains, 'Crime Type'
          .input
            = f.collection_select :crime_name_contains, Crime.all, :name, :name, :include_blank => true
        .clearfix
          = f.label :date_rec, 'Date Received'
          .input
            = f.text_field :date_rec_gte
        .clearfix
          = f.label :street_number_contains,'Street Number'
          .input
            = f.text_field :street_number_contains
        .clearfix
          = f.label :street_name_contains, 'Street Name'
          .input
            = f.text_field :street_name_contains
        .clearfix
          = f.label 'City'
          .input
            = f.text_field :city_contains

      .span5
        .clearfix
          = f.label :informant_name_contains, 'Informant Name'
          .input
            = f.text_field :informant_name_contains
        .clearfix
          = f.label :suspect_first_name_contains, 'Suspect First Name'
          .input
            = f.text_field :suspect_first_name_contains
        .clearfix
          = f.label :suspect_last_name_contains, 'Suspect Last Name'
          .input
            = f.text_field :suspect_last_name_contains
        .clearfix
          = f.label :assign_team_contains, 'Assigned'
          .input
            = f.collection_select :assign_team_contains, Assign.all, :team, :team, :include_blank => true
        .clearfix
          = f.label :status_contains, 'Status'
          .input
            = f.select(:status_contains, options_for_select([['Open', 'Open'],['Closed', 'Closed']]), :include_blank => true )
        .clearfix
          = f.label :zone_name_contains, 'Zone'
          .input
            = f.collection_select :zone_name_contains, Zone.all, :name, :name, :include_blank => true

    = submit_tag 'Search',:name => nil, :class => "btn primary"


%table#CrimeTipsTable.zebra-striped
  %thead
    %tr
      %th Tip Number
      %th Date Received
      %th Crime
      %th Location
      %th Zone
      %th Suspect Name
      %th Assigned
      %th
      %th
      %th

  - @crime_tips.each do |crime_tip|
    %tr
      %td= crime_tip.tip_number
      %td= crime_tip.date_rec.strftime("%m/%d/%Y") unless crime_tip.date_rec.nil?
      %td= crime_tip.crime.name unless crime_tip.crime.nil?
      %td= crime_tip.street_number + ' '+  crime_tip.street_name
      %td= crime_tip.zone.name unless crime_tip.zone.nil?
      %td= crime_tip.suspect_name.upcase
      %td= crime_tip.assign.team unless crime_tip.assign.nil?
      %td= link_to 'Show', crime_tip
      %td= link_to 'Edit', edit_crime_tip_path(crime_tip)
      %td= link_to 'Destroy', crime_tip, :confirm => 'Are you sure?', :method => :delete

= will_paginate @crime_tips
%br

= link_to 'New Crime Tip', new_crime_tip_path, :class => 'btn primary'
