!!! 5
%html
  %head
    %title SCVSheriff
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/nav'
    %p.notice
      = notice
    %p.alert
      = alert
    %ul.hmenu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
    .container-fluid
      .sidebar
      Hi...
      .content
        = yield
