!!! 5
%html
  %head
    %title SCVSheriff
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:style => 'padding-top: 40px;'}
    = render 'layouts/nav'
    %p.notice
      = notice
    %p.alert
      = alert
    .container-fluid
      .sidebar
        Hi...
      .content
        = yield

    #footer{:style => 'padding-bottom: 20px;'}
      .inner
        .container
          %p

